html, body {
    margin: 0;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    color: darkgreen;
}
body {
    background: white url("images/background.gif") no-repeat right bottom;
    font-family: sans-serif;
    color: #4F4F4F;
}
input {
    height: 25px;
    border-radius: 4px;
    border: 1px solid lightgray;
}
input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: darkgreen;
}
input[type=text], input[type=password], input[type=email] {
    width: 170px;
    padding-left: 5px;
}
button {
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}
button:hover {
    cursor: pointer;
    background-color: darkgreen;
}

/* Page Header Styles*/

header {
    background-color: white;
}
#page_header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #4F4F4F;
}
#python_logo {
    height: 70px;
    width: 200px;
    float: left;
}
#page_header_nav {
    float: left;
    margin-left: 20px;
}
.page_header_nav_links {
    line-height: 70px;
    margin-right: 50px;
}
#login_register_nav {
    float: right;
    margin-right: 20px;
    color: green;
}
.login_register_nav_links {
    line-height: 70px;
}

/* Page Styles */

#page_container {
    margin-left: 20px;
    margin-right: 20px;
}