{% extends "base.html" %}

{% block content %}

    <title>{% block title %} | Login{% endblock %}</title>

    <form action="/accounts/auth/" method="POST">
        <h2>Login</h2>
        {% if error_message %}<div class="formfielderrors">* {{ error_message }}</div>{% endif %}
        {% csrf_token %}
        <label for="username">Username: </label>
        <br>
        <input type="text" name="username" value="" id="username">
        <br><br>
        <label for="password">Password: </label>
        <br>
        <input type="password" name="password" value="" id="password">
        <br><br>
        <a href="/accounts/password_reset/">Forgot Password?</a>
        <br><br>
        <input type="submit" value="Login" class="greenButton">
    </form>

{% endblock content %}