{% extends "base.html" %}

{% block content %}

    <title>{% block title %} | Register{% endblock %}</title>

    <form action="/accounts/register/" method="post">{% csrf_token %}
        <h2>Register</h2>
        {% for field in form %}
            <div class="fieldWrapper">
                <div class="formfielderrors">{{ field.errors.as_text }}</div>
                {{ field.label_tag }}
                <br>
                {{ field }}
                <br><br>
            </div>
        {% endfor %}
        <input type="submit" value="Register" class="greenButton">
    </form>

{% endblock content %}