{% extends "base.html" %}

{% block content %}

    <title>{% block title %} | Add Game{% endblock %}</title>

    <form action="/userprofile/addGame/" method="post">{% csrf_token %}
        <h2>Add New Game</h2>
        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                <div class="formfielderrors">{{ field.errors.as_text }}</div>
                {{ field.label_tag }}
                <br>
                {{ field }}
                <br><br>
            </div>
        {% endfor %}
        <input type="submit" value="Save" class="greenButton">
    </form>

{% endblock content %}