{% extends "base.html" %}
{% block content %}
    <title>{% block title %} | {{ user.username }}{% endblock %}</title>

    <div id="userprofile">
        <div id="userprofileheadercontainer">
            <h2 id="usersgamesheader">Your Games</h2>
            <a id="addgamelink" href="/userprofile/addGame/"><button>Add New Game</button></a>
        </div>
        {% if games %}

            {% for game in games %}
                <div class="gamelistitems">
                    <a href="/userprofile/editGame/{{game.id}}"><img class="gamelistimages" src="/media/{{ game.image }}"></a>
                    <b><a class="gamelisttitles" href="/userprofile/editGame/{{game.id}}">{{ game.title }}</a></b>
                    <div class="gamelistdescriptions">{{ game.description }}</div>
                </div>
            {% endfor %}

        {% else %}
            <div class="gamelistitems">
                <div id="nogameslabel">No games</div>
            </div>

        {% endif %}
    </div>
{% endblock content %}