{% load staticfiles %}

<html>
    <head>
        <title>PyGamers{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
        <script type="text/javascript" src="{% static 'site.js' %}"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/atelier-cave-light.min.css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {{ form.media }}
    </head>
    <body>
        <div id="pagecontainersansfooter">
            <header id="page_header">
                <div>
                    <img id="mobile_menu" onclick="mobileMenu('page_header_nav');" src="{% static 'images/green_nav.png' %}"/>
                    <a href="/"><img id="python_logo" src="{% static 'images/pygame_logo.gif' %}"/></a>
                    <nav id="page_header_nav">
                        <div class="pagelinkcontainers"><a class="page_header_nav_links" href="/games/">Games</a></div>
                        <div class="pagelinkcontainers"><a class="page_header_nav_links" href="http://www.pygame.org/download.shtml">Downloads</a></div>
                        <div class="pagelinkcontainers"><a class="page_header_nav_links" href="http://www.pygame.org/docs/">Documentation</a></div>
                        <div id="login_register_pagelinkcontainer" class="pagelinkcontainers">
                            <div id="login_register_nav">
                            {% if user.is_authenticated %}
                            <a class="login_register_nav_links" href="/userprofile/"><button>Profile</button></a> &nbsp|&nbsp <a class="login_register_nav_links" href="/accounts/logout/">Logout</a>
                            {% else %}
                            <a class="login_register_nav_links" href="/accounts/login/"><button class="clearbutton">Login</button></a> &nbsp&nbsp <a class="login_register_nav_links" href="/accounts/register/"><button>Register</button></a>
                            {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div id="page_container">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <footer>
            <div id="copywrite">&copy; PyGamers.com 2015</div>
        </footer>
    </body>
</html>